<footer class="footer">
    <div class="container">
        <div class="footer-bottom">
            <p>&copy; 2023 CineMax. Tüm hakları saklıdır. | <a href="https://www.batuhancolk.com/">Batuhan Çolak</a>
            </p>
        </div>
    </div>
</footer>